bin/
debug/
Debug/
obj/
*.layout
*.o
*.depend
*.save
*.cbTemp
*.txt

!/doc/
!/reference/
!/tools/
!*.c
!*.cc
!*.cpp
!*.h
!*.hpp
!*.cbp
/ColorTrackDemo/1.pgm
/ColorTrackDemo/2.pgm
/ColorTrackDemo/3.pgm
/ColorTrackDemo/convert
/ColorTrackDemo/convert.cpp
/ColorTrackDemo/img0.ppm
/ColorTrackDemo/img162.ppm
/itralgorithm_test/octave-core
/itralgorithm_test/plot.py
/iTRLib.workspace.session
/surftrac/main.c
/surftrac/libsurftrac.a
/surftrac/surffeature.cpp
/surftrac/surffeature.h
/surftrac/surftrac.cbp
