# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Config file
.metadata/

#Temp file
*.*~
*.save
*.layout
*.cbp.save
*.out
*.depend
test/
RemoteSystemsTempFiles//itrbase/itrbase.depend
/itrbase_test/itrbase_test.depend
/itrvision/itrvision.depend
/itrvision_test/itrvision_test.depend
/itrbase/itrbase.depend
/RemoteSystemsTempFiles/.project
/itralgorithm/itralgorithm.layout
/itralgorithm_test/itralgorithm_test.layout
/itrbase/itrbase.layout
/itrbase_test/itrbase_test.layout
/itrvision/itrvision.layout
/itrvision_test/itrvision_test.layout
