# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/.metadata/.lock
/.metadata/.log
/.metadata/.plugins/org.eclipse.cdt.core/itrbase.1378191086125.pdom
/.metadata/.plugins/org.eclipse.cdt.core/language.settings.xml
/.metadata/.plugins/org.eclipse.cdt.core/.log
/.metadata/.plugins/org.eclipse.cdt.core/shareddefaults.xml
/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.core.resources/.history/27/b0304aaa6814001313a7e530fe60c3c3
/.metadata/.plugins/org.eclipse.core.resources/.history/de/4031821d6914001313a7e530fe60c3c3
/.metadata/.plugins/org.eclipse.core.resources/.projects/itrbase/.indexes/16/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/itrbase/.indexes/73/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/itrbase/.indexes/73/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/itrbase/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/itrbase/org.eclipse.egit.core/GitProjectData.properties
/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-itrbase.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.equinox.security.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/itrbase/2013/9/36/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/itrbase/2013/9/36/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
/.metadata/.plugins/org.eclipse.team.cvs.ui/commentTemplates.xml
/.metadata/.plugins/org.eclipse.team.cvs.ui/commitCommentHistory.xml
/.metadata/.plugins/org.eclipse.team.cvs.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.team.cvs.ui/repositoriesView.xml
/.metadata/.plugins/org.eclipse.team.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/version.ini
